html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Css personalizado*/
.colorAtlantida {
    background-color: #D9272E !important;
}

.navBarAtlantida{
    color: white !important;
}

.fuenteTabla {
    font-size: 10px !important;
    text-align: center !important;
}

.fuenteBotones {
    font-size: 10px !important
}
